<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">myTicket</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="tickets">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="Employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="Department">Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="Leaves">Leaves</a>
        </li>
      </ul>
      <form class="d-flex">
        <select [(ngModel)]="role" name="role" (change)="onROleChange()">
          <option value="admin">admin</option>
          <option value="user">user</option>
        </select>
        {{loggedUserData.UserName}}
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
